<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="caiknife"/>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Vue FirstApp</title>
</head>


<body>
    <div id = "app">
        {{message}}
    </div>

    <div id ="app2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！  
        </span>
    </div>

    <div id ="app3">
        <p v-if="seen">看看你能不能看到我！</p>
    </div>

    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">点击逆转消息</button>
    </div>

    <div id="app6">
    <p>{{message}}</p>
    <p>输入相关信息：<input v-model="message"></p>
    </div>
</body>


<script type="text/javascript">
    var app = new Vue({
        el:'#app',
        data:{
            message:"Hello xiaomei"
        }
    });
    var app2 = new Vue({
        el:"#app2",
        data:{
            message:'页面加载于 ' + new Date().toLocaleString()
        }
    });
    var app3 = new Vue({
        el:"#app3",
        data:{
            seen:true,
            test:false
            }
    });
    var app4 = new Vue({
        el:"#app4",
        data:{
            todos:[
            { text: '学习 JavaScript' },
            { text: '学习 Vue' },
            { text: '整个牛项目' },
            { text: '牛妹'}
            ]
        }
    });
    var app5 = new Vue({
        el:"#app5",
        data:{
            message:"hello my world!"
        },
        methods:{
            reverseMessage:function(){
                this.message = this.message.split('').reverse().join('')
            },
        },
    });
    var app6 = new Vue({
        el:"#app6",
        data:{
            message:"hello my vue.js",
            test:"this is a test"
        }
    });


</script>
</html>